# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Read train and test data

In [6]:
df_train_x = pd.read_csv('../matrix_for_model/train_brand_matrix.csv',  index_col='device_id')
df_test_x = pd.read_csv('../matrix_for_model/test_brand_matrix.csv', index_col='device_id')

print(df_train_x.shape)
print(df_test_x.shape)

(74645, 1730)
(112071, 1730)

# Merge label_matrix

#### Read label_matrix data

In [6]:
df_label = pd.read_csv('../matrix_for_model/label_matrix.csv',  index_col='device_id')
print(df_label.shape)
df_label.head()

(60669, 473)

,category_1 free,category_1 reputation,category_1 vitality,category_3 kindom game,category_80s Japanese comic,category_90s Japanese comic,category_A beauty care,category_A shares,category_ARPG,category_Academic Information,...,category_travel,category_tribe,category_trickery,category_unknown,category_video,category_violence comic,category_vitality,category_war chess,category_weibo,category_zombies game
device_id,,,,,,,,,,,,,,,,,,,,,
-9222956879900151005,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
-9222661944218806987,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
-9222399302879214035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
-9221825537663503111,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
-9221767098072603291,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

#### Merge on device_id

In [9]:
df_train_x = df_train_x.join(df_label, how='left')
print(df_train_x.shape)

df_test_x = df_test_x.join(df_label, how='left')
print(df_test_x.shape)

(74645, 2203)
(112071, 2203)

#### Fill in missing data

In [13]:
df_train_x.fillna(0, inplace=True)
print('Missing value of df_train_x:', df_train_x.isnull().any().sum())

df_test_x.fillna(0, inplace=True)
print('Missing value of df_test_x',df_test_x.isnull().any().sum())

Missing value of df_train_x: 0
Missing value of df_test_x 0

# Merge app_matrix

#### Read app_matrix data

In [14]:
df_app = pd.read_csv('../matrix_for_model/app_matrix.csv',  index_col='device_id')
print(df_app.shape)
df_app.head()

(60669, 10511)

,app_id_0,app_id_1,app_id_10,app_id_100,app_id_1000,app_id_10000,app_id_10002,app_id_10003,app_id_10004,app_id_1001,...,app_id_9981,app_id_9982,app_id_9986,app_id_9989,app_id_999,app_id_9990,app_id_9993,app_id_9994,app_id_9996,app_id_9997
device_id,,,,,,,,,,,,,,,,,,,,,
-9222956879900151005,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9222661944218806987,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9222399302879214035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9221825537663503111,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9221767098072603291,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Merge on device_id

In [15]:
df_train_x = df_train_x.join(df_app, how='left')
print(df_train_x.shape)

df_test_x = df_test_x.join(df_app, how='left')
print(df_test_x.shape)

(74645, 12714)
(112071, 12714)

#### Fill in missing data

In [16]:
df_train_x.fillna(0, inplace=True)
print('Missing value of df_train_x:', df_train_x.isnull().any().sum())

df_test_x.fillna(0, inplace=True)
print('Missing value of df_test_x',df_test_x.isnull().any().sum())

Missing value of df_train_x: 0
Missing value of df_test_x 0

# Write df_train_x and df_test_x to CSV file

In [17]:
df_train_x.to_csv('../matrix_for_model/train_x.csv')
df_test_x.to_csv('../matrix_for_model/test_x.csv')

In [5]:
sub = pd.read_csv('../submit/nn_result18.csv', index_col='device_id')
sub.head()

,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
device_id,,,,,,,,,,,,
1002079943728939269,0.000484,0.001260,0.001969,0.007215,0.025154,0.051991,0.003608,0.022456,0.040201,0.100445,0.237244,0.507974
-1547860181818787117,0.007678,0.021499,0.024794,0.053525,0.081410,0.068159,0.015634,0.083489,0.094733,0.142654,0.231921,0.174504
7374582448058474277,0.027295,0.046959,0.048272,0.107081,0.165204,0.109683,0.014602,0.041514,0.045796,0.081439,0.150574,0.161582
-6220210354783429585,0.007221,0.011351,0.010867,0.018901,0.045218,0.082630,0.065853,0.128698,0.084831,0.121029,0.165867,0.257534
-5893464122623104785,0.037926,0.049645,0.041011,0.061812,0.069037,0.055139,0.082478,0.135789,0.090578,0.119368,0.141640,0.115576